div {
    width: auto;
    margin: auto;
}

.headphoto {
    min-height: 100%;
    min-width: 100%;
    height: auto;
    width: auto;
    background-image: url('https://s25.postimg.org/s4jmmhfjj/Untitled.png');
    background-size: cover;
    margin: 0;
}

.menuitem {
    border: 1px solid black;
    width: 400px;
    padding: 5px;
    float: left;
    position: relative;
    right: 10px;
    top: 170px;
}
.main_img {
    position: absolute;
    top: 350px;
    left: 530px;

}

.copyright {
	position: absolute;
	color: #FFFFFF;
    top: 1100px;
    left: 50px;
}

.para {
	position: absolute;
    top: 800px;
    margin-left: 100px;
    margin-right: 100px;
    color: #FFFFFF;
}

.Homepage {
    position: absolute;
    top: 165px;
    left: 270px;

}

.Meus_p {
    position: absolute;
    top: 165px;
    left: 770px;

}

.Sobre_mim {
    position: absolute;
    top: 165px;
    left: 1230px;

}

.Textos {
    position: absolute;
    top: 420px;
    left: 800px;
    color: #FFFFFF;
    margin-left: 200px;
    margin-right: 200px;

}

.contact_photo {
    position: absolute;
    top:  400px;
    left: 200px;
    height: auto; 
    width: auto; 
    max-width: 300px; 
    max-height: 300px;
}

.analise_de_dados {
    position: absolute;
    top:  320px;
    left: 350px;
    height: auto; 
    width: auto; 
    max-width: 300px; 
    max-height: 300px;
}

.eletronica {
    position: absolute;
    top:  320px;
    left: 1000px;
    height: auto; 
    width: auto; 
    max-width: 300px; 
    max-height: 300px;
}

.ideias {
    position: absolute;
    top:  660px;
    left: 350px;
    height: auto; 
    width: auto; 
    max-width: 300px; 
    max-height: 300px;
}

.programação {
    position: absolute;
    top:  660px;
    left: 1000px;
    height: auto; 
    width: auto; 
    max-width: 300px; 
    max-height: 300px;
}


ul {
    list-style-type: none;

}