div {
    width: 1280px;
    margin: auto;
}


.menuitem {
    border: 1px solid black;
    width: 400px;
    padding: 5px;
    float: left;
    position: relative;
    right: 10px;
}

ul {
    list-style-type: none;

}